body {
  margin: 0;
  line-height: normal;
}

:root {
  /* fonts */
  --font-gilroy-semibold: Gilroy-SemiBold;
  --font-gilroy-mediumitalic: Gilroy-MediumItalic;
  --font-gilroy-medium: Gilroy-Medium;
  --font-bayon: Bayon;
  --font-akira-expanded: "Akira Expanded";
  --font-gilroy-bold: Gilroy-Bold;
  --font-poppins: Poppins;

  /* font sizes */
  --font-size-8xl-8: 27.8px;
  --font-size-13xl: 32px;
  --font-size-9xl: 28px;

  /* Colors */
  --color-white: #fff;
  --color-black: #000;
  --color-darkslategray: #464646;

  /* Gaps */
  --gap-0: 0px;

  /* Paddings */
  --padding-13xl: 32px;

  /* Border radiuses */
  --br-8xs: 5px;
  --br-7xs: 6px;
}
